@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico|Raleway');

body
{
  font-family: 'Raleway', sans-serif;
}

a
{
  color: rgba(0, 0, 0, 0.8);
  /*text-decoration: underline;*/
}

a:hover
{
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

#headerRow
{
  padding-top: 6px;
  padding-bottom: 6px;
}

#headingText
{
  /*margin-left: 10px;*/
  /*top: 9px;*/
  /*position: relative;*/
  margin-bottom: -3px;
}

#headingCollegeText
{
  /*margin-left: 10px;*/
  /*top: 6px;*/
  /*position: relative;*/
}

#headingText a
{
  color: #AAAAAA;
  font-family: 'Pacifico', cursive;
}

#headingCollegeText a
{
  color: #A3A3A3;
  font-family: 'Open Sans', sans-serif;
}

/*for henosis -- start*/

#henosisLayer
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*Remove margin style definition if Bootstrap is used. -- start*/
  /*margin-left: -8px;
  margin-top: -8px;*/
  /*Remove margin style definition if Bootstrap is used. -- end*/
  z-index: 10;
  background: white;
  pointer-events: none;
}

#henosis, #actCircle, #actCircleShadow
{
  pointer-events: visibleFill;
}

#container1, #container2
{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/*for henosis -- end*/

/*for menu -- start*/

#container2
{
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.4);
}

#menuRow
{
  position: relative;
}

#menuLeftColumn
{
  display: block;
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
}

#menuCenterColumn
{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

#menuRightColumn
{
  display: block;
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
}

#menuLeftColumnUL
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menuLeftColumnUL > li
{
  padding-top: 5px;
  padding-bottom: 5px;
}

#menuLeftColumnUL > li:last-child
{
  padding-bottom: 15px;
}

#menuLeftColumn::after
{
  display: block;
  margin: auto;
  content: "";
  background-color: #9f9f9f;
  height: 1px;
  width: 30vw;
}

#menuCenterColumnUL
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menuCenterColumnUL a, #menuCenterColumnUL a:hover
{
  color: rgba(0, 0, 0, 0.4);
  text-decoration: underline;
}

#menuCenterColumnUL li
{
  padding-top: 5px;
  padding-bottom: 5px;
}

#menuRightColumnUL
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menuRightColumnUL > li
{
  padding-top: 5px;
  padding-bottom: 5px;
}

#menuRightColumnUL > li:first-child
{
  padding-top: 15px;
}

#menuRightColumn::before
{
  display: block;
  margin: auto;
  content: "";
  background-color: #9f9f9f;
  height: 1px;
  width: 30vw;
}

#socialMediaBrandingSection
{
  display: block;
  padding-top: 9px;
  padding-bottom: 4px;
}

#fbBranding
{
  font-size: 24px;
  color: #3B5998;
  /*color: #9f9f9f;*/
}

#spanFbBranding
{
  padding-right: 4px;
}

#twitterBranding
{
  font-size: 24px;
  color: #1DA1F2;
  /*color: #9f9f9f;*/
}

#spanTwitterBranding
{
  padding-left: 4px;
}

@media screen and (min-width: 768px) and (min-height: 800px)
{
  #socialMediaBrandingSection
  {
    display: block;
    padding-top: 4vw;
    padding-bottom: 0px;
  }

  #fbBranding
  {
    font-size: 3vw;
  }

  #spanFbBranding
  {
    padding-right: 0.5vw;
  }

  #twitterBranding
  {
    font-size: 3vw;
  }

  #spanTwitterBranding
  {
    padding-left: 0.5vw;
  }

  #container2
  {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 768px)
{
  #menuLeftColumnUL > li:last-child
  {
    padding-bottom: 5px;
  }

  #menuRightColumnUL > li:first-child
  {
    padding-top: 5px;
  }

  #menuLeftColumn::after
  {
    display: block;
    margin: auto;
    content: "";
    background-color: #9f9f9f;
    width: 1px;
    height: 30vh;
    float: right;
    position: relative;
  }

  #menuLeftColumn, #menuLeftColumnUL, #menuCenterColumn, #menuCenterColumnUL, #menuRightColumn, #menuRightColumnUL
  {
    position: relative;
  }

  #menuCenterColumn
  {
    padding: 0px;
  }

  #menuRightColumn::before
  {
    display: block;
    margin: auto;
    content: "";
    background-color: #9f9f9f;
    width: 1px;
    height: 30vh;
    float: left;
  }
}

/*for menu -- end*/
