@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');
#headingText
{
  margin-left: 10px;
  top: 4px;
  position: relative;
}

#headingCollegeText
{
  margin-left: 10px;
  top: 1px;
  position: relative;
}

#headingText a
{
  color: #ECECEC;
  font-family: 'Pacifico', cursive;
}

#headingCollegeText a
{
  color: #E3E3E3;
  /*font-family: 'Berkshire Swash', cursive;*/
  font-family: 'Open Sans', sans-serif;
}

/*for henosis -- start*/

#henosisLayer
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*Remove margin style definition if Bootstrap is used. -- start*/
  /*margin-left: -8px;
  margin-top: -8px;*/
  /*Remove margin style definition if Bootstrap is used. -- end*/
  z-index: 10;
  background: white;
  pointer-events: none;
}

#henosis
{
  pointer-events: visibleFill;
}

#container1, #container2
{
  display: none;
}

/*for henosis -- end*/
